/*reset*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/**debug**/

/** fine debug**/



/* #region main*/
.contenitoresupremo{
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc(100% / 3 - 20px);
    margin-top: 50px;
    margin-right: 20px;
    position: relative;
    }
.immagine{
    width: 100%;
    display: block;

}

h6{
    display: inline-block;
    vertical-align: top;
}

.sconto{
    position: absolute;
    top: 300px;
    background-color: red;
    font-size: 10px;
    padding: 2px;
    color: white;
}

.prezzo{
    color: red;
    font-weight: lighter;
}
.listino{
    text-decoration: line-through;
}

.sostenibilità{
    display: inline-block;
    position: absolute;
    top: 300px;
    left: 30px;
    font-size: 10px;
    background-color: green;
    color: white;
    padding: 2px;
}

.fa-solid{
    position: absolute;
    top: 5px;
    left: 210px;
    background-color: white;
    padding: 5px;
} 

.ultimafoto{
  top: 300px;
  left: 0;

}
.fa-solid:hover{
 color: red;
 transition: ease 1s;
}



/*#endregion /main*/



