/*reset*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/**debug**/

/** fine debug**/



/* #region main*/




/*#endregion /main*/

.contenitoresupremo{
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc(100% / 3 - 20px);
    margin-top: 50px;
    margin-right: 20px;
    position: relative;
    }
.immagine{
    width: 100%;
    display: block;

}

h6{
    display: inline-block;
    vertical-align: top;
}

.sconto{
    position: absolute;
    top: 300px;
}



